<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <h3>Adding a date to this page's url in either natural or unix timestamp format will return <br>
            an object that displays the date in both formats.</h3>
            <h3>Example:</h3>
            <code>https://tms-fcc.herokuapp.com/December%2015,%202015</code>
            <h3>Returns: </h3>
            <code>
                {
                  "unix": 1450137600,
                  "natural": "December 15, 2015"
                }
            </code>
            
      </div>
   </body>

</html>
